

details#info-box {
    margin: 0;
    padding: 0vmin 2vmin;
    color: white;
    text-align: center;

    summary {
        font-size: calc(20px + (24 - 20) * ((100vw - 300px) / (1800 - 300)));
        line-height: calc(28px + (28 - 28) * ((100vw - 300px) / (1800 - 300)));
    }

    p {  
        margin: 1vmin 0 !important;
        font-size: calc(16px + (24 - 16) * ((100vw - 300px) / (1800 - 300)));
        line-height: calc(20px + (32 - 20) * ((100vw - 300px) / (1800 - 300)));
    }
  }

