nav {
  // width: 100vw;
  height: 50px;
  // margin: 1vmin 0;
  padding: 2vmin 0 2vmin 0;

  font-family: pauline, sans-serif;
  font-style: normal;
  font-size: calc(42px + (64 - 42) * ((100vw - 300px) / (1800 - 300)));
  line-height: calc(42px + (68 - 42) * ((100vw - 300px) / (1800 - 300)));
  font-weight: 700;
  text-align: center;
  
  color: $darkblue;
  background: rgba(255, 255, 255, 1);
  background-size: cover;
  -webkit-box-shadow: inset 0px -5px 15px 3px rgba(85,85,85,0.2);
  -moz-box-shadow: inset 0px -5px 15px 3px rgba(85,85,85,0.2);
  box-shadow: inset 0px -5px 15px 3px rgba(85,85,85,0.2);

  border-bottom: 1px solid #555;
}

#social-share {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-end;

    position: fixed;
    width: 200px;
    top: 30px;
    right: 30px;

    cursor: pointer;

    z-index: 3;

    p {
      padding: 0.5vmin 0;
      font-size: calc(18px + (28 - 18) * ((100vw - 300px) / (1800 - 300)));
      line-height: calc(18px + (32 - 18) * ((100vw - 300px) / (1800 - 300)));
      font-weight: 400;
    }

    #share-icon {
      width: 40px;
      height: 40px;
      padding: 0 1vmin;
      
      opacity: 0.5;

      transition: 400ms;

      &:hover {
        opacity: 0.8;
        transform: scale(1.2);
      }
    }
}
