// Fonts
@import url("https://use.typekit.net/glp0pxk.css");
@import url("https://use.typekit.net/glp0pxk.css");

@import 'variables';
@import 'nav';
@import 'form';
@import 'details';
@import 'mediaqueries';

html {
  padding: 0;
}

body {
  // display: flex;
  // justify-content: center;
  // align-content: center;
  height: 100%;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #43C6AC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, rgb(25, 22, 84), #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, $electricblue, $teal); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
}

#root {
  padding: 0;
  margin: 0;
}

.App {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




// CONTENT

.content {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;

  min-height: 80vh; 
  margin: 2vmin 0 0 0;
  padding: 0 4vmin;
}

.search-info {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2vmin 0 1vmin 0;

  // width: 100vw;
    background: rgba(50,50,50,0.8);
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

#search-term-break, #search-word {

  font-size: calc(20px + (28 - 20) * ((100vw - 300px) / (1800 - 300)));
  line-height: calc(24px + (28 - 24) * ((100vw - 300px) / (1800 - 300)));
  font-weight: 600;
  text-align: center;

  color: #fff;
}

#search-term-break {
  margin: 0 2vmin 1vmin 1vmin;
}

#search-word {
  margin: 0 0 1vmin 0;
}


.card {
  min-width: 150px;
  margin: 1vmin;
  padding: 1vmin 2vmin;

  // color: #fff;
  // background: rgba(50, 50, 50, 0.8);
  border-radius: 10px;
  border: 1px solid #fff;

  h2 {
    margin: 0 0 1vmin 0;
    // color: white;
    font-size: calc(18px + (24 - 18) * ((100vw - 300px) / (1800 - 300)));
    line-height: calc(24px + (28 - 24) * ((100vw - 300px) / (1800 - 300)));

    font-weight: 600;
  }

  p {
      font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1800 - 300)));
      line-height: calc(20px + (24 - 20) * ((100vw - 300px) / (1800 - 300)));

      filter: brightness(0.7);
        // background: red;
  }
}

p, h2 {
  text-align: center;
}

#yellow-text {
  margin: 0 2vmin;
  color: rgb(255,255,175);
  font-weight: 700;
}

#searchtype-text {
  margin: 0 2vmin;
  color: rgb(255,255,175);
  font-weight: 700;
}

#status-message {
  visibility: hidden;
  height: 100vh;
  color: $button;
}

.empty-div {
  height: 100vh;
}

footer {
  margin: 4vmin 0;
  color: rgb(26, 22, 85);

  font-size: calc(18px + (24 - 18) * ((100vw - 300px) / (1800 - 300)));
  line-height: calc(22px + (28 - 22) * ((100vw - 300px) / (1800 - 300)));
  text-align: center;

  p {
    margin: 1vmin 0;
  }
}
